<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<display-name>Egocentric Network Web Application</display-name>

	<!-- Action Servlet Configuration -->
	<servlet>
		<servlet-name>egonet</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Other Servlet Configurations
	<servlet>
		<servlet-name>drawnetwork</servlet-name>
		<servlet-class>com.endlessloopsoftware.egonet.web.servlet.NetworkServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	-->

	<servlet>
		<servlet-name>interviewData</servlet-name>
		<servlet-class>com.endlessloopsoftware.egonet.web.servlet.InterviewDataServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>egonet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--
	<servlet-mapping>
		<servlet-name>drawnetwork</servlet-name>
		<url-pattern>/drawnetwork</url-pattern>
	</servlet-mapping>
	-->

	<servlet-mapping>
		<servlet-name>interviewData</servlet-name>
		<url-pattern>/interview</url-pattern>
	</servlet-mapping>

  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Application Tag Library Descriptor -->

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-layout.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-layout.tld</taglib-location>
  </taglib>

</web-app>
